:root{
--logo-blue: #0052CC;
--light-purp: #344563;
--dark-purp: #091E42;

--poppins: poppins, 'microsoft sans serif regular', 'sans-serif';
--brush: "Brush script mt", cursive;
}
  


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .6s ease;
}

html{
    scroll-behavior: smooth;
}


@keyframes drop {
    from {
      transform: translateY(-50px);
    }
    to{
      transform: translateY(0);
    }
  }
  

/**********************
*generic
*********************/
body, .link{
    font-family: sans-serif;
    color: var(--light-purp);
}

h1{
    color: var(--dark-purp);
}

.link{
    text-decoration: none;
    padding: 10px;
}

.link:hover{
    color: var(--logo-blue);
}

.x-spacing{
    padding: 0 90px;
}

.y-padding{
    padding: 90px 0;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-sm{
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.img{
    width: 100%;
}

.m-auto{
    margin: auto;
}

.txt-right{
    text-align: right;
}

.whyte{
    color: white;
}

.whyte-hover:hover{
    color: white !important;
}

.pad-top-15{
    padding-top: 15px;
}

.pencil{
    color: #aaa;
    padding: 15px;
}

.err{
    color: red;
}

.blue-tick{
    color: var(--logo-blue);
}



/**********************
*nav
*********************/
.nav{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    margin-bottom: 25px;
}

.nav-responsive{
    display: none;
}

.nav-left{
    width: 50%;
    display: flex;
}

.nav-right{
    width: 50%;
    text-align: right;
}

.logo{
    color: #0052CC;
}

.logo-pad{
    padding: 0 15px 15px 0;
}

.s-in{
    background-color: var(--logo-blue);
    color: white;
    border-radius: 5px;
}

.s-up{
    color: #A5ADBA;
}

.nav-dropdown{
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    padding: 20px;
    animation-name: drop;
    animation-duration: .5s;
}

.nav-header{
    margin-bottom: 70px;
}

.nav-dropdown h3{
    margin: 40px 0;
}

.nav-dropdown .link{
    padding-left: 0;
}

.s-in-sm{
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}


/**********************
*banner
*********************/
.banner{
    margin-bottom: 97px;
}

.banner-txt p{
    margin-top: 25px;
    font-weight: bold;
}

.banner-txt h1{
    font-size: 2.7em;
    line-height: 57.6px;
}


/**********************
*HR
*********************/
.hr{
    background: #F4F5F7;
    display: flex;
    padding-top: 90px;
    padding-bottom: 90px;
    flex-direction: column;
    justify-content: center;
}

.hr h1, .w-50 h1{
    font-size: 2.7em;
    margin-bottom: 1.1rem;
}

.cards{
    margin-top: 3.9rem;
    margin-bottom: 3.9rem;
}


/**********************
*card
*********************/
.card{
    background-color: white;
    padding: 25px;
    margin: 20px 30px 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.card img, .w-25 img{
    margin-bottom: 25px;
}

.card h3, .w-25 h3{
    margin-bottom: 14px;
}


/****************************
*admin n logistics && patners
*****************************/
.w-50{
    width: 50%;
    padding: 25px;
}

.w-25{
    width: 25%;
    padding: 20px;
}

.AnL{
    margin-bottom: 3.9rem;
}

.p-img{
    margin-right: 3.9rem;
    width: 50%;
}

.p-img img{
    width: 100%;
}


/**********************
*footer
*********************/
.footer{
    background: var(--dark-purp);
    color: white;
}

.footer .AnL{
    margin-bottom: 0;
}

.footer .flex{
    justify-content: space-between;
}

.footer h1{
    color: #A5ADBA;
    margin-bottom: .7rem;
}
.socials{
    text-align: right;
    margin-bottom: .7rem;
}

.socials i{
    margin-left: 15px;
}

/**********************
*auth
*********************/
.auth{
    padding: 50px;
    text-align: center;
}

.auth .logo{
    margin-left: 10px;
}

.auth-heading, .auth-txt{
    margin: 20px;
}

.auth-txt{
    margin-bottom: 40px;
}

.auth-card form{
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.auth-input{
    width: 100%;
    border-radius: 6px;
    border: 1px solid #97A0AF;
    margin-top: 15px;
    margin-bottom: 40px;
}

.auth-input input{
    padding: 8px;
    width: 90%;
    border: none;
    margin: 3px;
}

.auth-input .checked{
    padding-left: 5px;
    color: green;
}

.auth-input input:focus > .auth-input{
    outline: 1px solid dodgerblue;
}

.auth-input input:focus{
    outline: none;
}

.auth-btn{
    padding: 10px;
    width: 100%;
    border: none;
    margin-bottom: 40px;
}

.auth-card hr{
    margin-bottom: 20px;
}

.forgot{
    text-align: center;
}

.auth-image-left{
    position: fixed;
    bottom: 0;
    left: 0;
}

.auth-image-right{
    position: fixed;
    bottom: 0;
    right: 0;
}

.auth-user-detail{
    margin: 20px;
    margin-bottom: 60px;
    margin-left: 60px;
    word-wrap: normal;
    justify-content: center;
    align-items: center;
}

/**********************
*dashboard
*********************/
.dash-nav{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.dash-nav .w-50{
    padding: 15px;
}

.dash-nav-dropdown{
    position: absolute;
    top: 2;
    right: 0;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.role{
    cursor: pointer;
}

.dash-nav-dropdown .pad{
    padding: 15px;
}

.dash-nav-dropdown .mb-sibling{
    margin-bottom: 12px;
}

/* .dash-nav-dropdown .mb-parent{
    margin-bottom: 25px;
} */

.role p{
    width: 80%;
    margin-left: 10px;
}

.role i{
    width: 10%;
}

.grey{
    color: #999;
}

.dash-nav-dropdown .card{
    margin: 0;
}

.avatar{
    border-radius: 50%;
}

.dash-menu-btn{
    margin-right: 15px;
}

.TM{
    margin: 10px;
    margin-left: 5px;
    padding-left: 15px;
    border-left: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dash-content{
    padding: 150px 100px;
}

.dash-content h1{
    font-size: 2.2rem;
    margin-bottom: 15px;
}

.dash-content p{
    color: rgb(48, 46, 46);
    font-weight: bold;
}

.things-to-do{
    margin-top: 60px;
}

.things-to-do h3{
    margin-bottom: 15px;
}

.task{
    padding: 15px;
    border: 1px solid #ccc;
    width: 70%;
    margin-bottom: 7px;
}

.task div:nth-child(1){
    width: 10%;
}
.task div:nth-child(2){
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.task div:nth-child(3){
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.task-p{
    margin-left: 10px;
    margin-right: 40px;
}

.check{
    text-align: center;
    margin-bottom: 50px;
}

@media screen and (max-width: 1000px) {
    .auth-image-right, .auth-image-left{
        display: none;
    }

    .w-50{
        width: 100%;
    }

    

    .dash-content{
        padding: 60px 20px;
    }

    .task{
        width: 100%;
    }

    .TM{
        display: none;
    }

    .dash-avatar{
        width: 10%;
    }

}

@media screen and (max-width: 480px) {
    .flex{
        display: block;
    }
    
    .dash-nav-dropdown{
        width: 100%;
    }

    .flex-sm{
        display: flex;
    }

    .p-img{
        margin-right: 0;
        margin-bottom: 3.5rem;
        width: 100%;
    }

    .p-img img{
        padding: 10px;
    }

    .x-spacing{
        padding-right: 20px;
        padding-left: 20px;
    }

    .w-50, .w-25{
        width: 100%;
        padding: 0;
    }

    .w-25{
        padding: 20px;
    }

    .footer, .socials{
        text-align: center;
    }

    .footer .AnL div{
        margin-bottom: 50px;
    }

    .patners{
        display: flex;
    }

    .nav-lg{
        display: none;
    }

    .nav-responsive{
        display: block;
    }

    .hr h1, .w-50 h1, .banner-txt h1{
        font-size: 2em;
    }

    .banner-txt h1{
        line-height: 40px;
    }

    .auth-image-left, .auth-image-right{
        display: none;
    }

    .auth{
        padding-left: 20px;
        padding-right: 20px;
    }

    .auth header .logo{
        font-size: 1.5rem;
    }

    .auth-user-detail{
        font-size: .8em;
    }

    .dash-content{
        padding: 60px 20px;
    }

    .dash-content h1{
        font-size: 1.5em;
    }

    .task{
        width: 100%;
    }

    .task p {
        margin-right: 0px;
    }

    .TM{
        display: none;
    }

    .dash-avatar{
        width: 10%;
    }

    .dash-nav-dropdown{
        width: 100%;
    }

    .dash-menu-btn{
        margin-right: 0;
    }

    .w-sm-70{
        width: 70%;
    }

    .w-sm-30{
        width: 30%;
    }

    .card{
        margin: 20px 0 20px 0;
    }

    .px-sm-0{
        padding-right: 0;
        padding-left: 0;
    }
}